<div class="admin_header">
    <div class="admin_header-logo">
        <a href="/admin">KUMOP</a>
    </div>
    <div class="admin_header-navbar">
        
    </div>
    <div class="admin_header-action">
        <a href="/admin/logout">Logout</a>
    </div>
</div>