<div class="customer-questions">
    <div class="title">Câu hỏi khách hàng thường gặp</div>
    <div class="line">
        <div class="box"></div>
    </div>
    <section class="question">Tôi có mất thêm chi phí sau khi thiết kế website không ? Website sau này có thể
        nâng
        câp không ?</section>
    <section class="question">Tôi có website cũ, tôi muốn chuyển dữ liệu bài viết, hình ảnh,... qua website mới
        này
        được không ? KUMOP có hỗ trợ không ?</section>
    <section class="question">Website của tôi do công ty KUMOP thiết kế có dùng để SEO hoặc quảng cáo Google
        được
        không ?</section>
    <section class="question">Tôi không có chuyên môn về Website thì việc sử dụng và quản trị website có dễ
        không ?
    </section>
</div>