<div class="customer-review">
    <h2 class="title">Cảm Nhận Khách Hàng</h2>
    <div class="line">
    </div>
    <div class="customer-row">
        <a href="#" class="customer-card">
            <figure class="avatar">
                <img src="./images//therock.jpg" alt="">
            </figure>
            <div class="info">
                <div class="quotes">
                    <img src="./images/icons8-quote-left-50.png" alt="" srcset="">
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur nulla
                        augue. Aliquam id congue est. Mauris pulvinar erat quis purus fringilla, in eleifend leo
                        lobortis.
                    </p>
                </div>
                <div class="line"></div>
                <div class="customer">
                    <div class="name"><strong>Trần Tiến Đức Anh</strong></div>
                    <div class="hometown">Hồ Chí Minh</div>
                </div>
            </div>
        </a>
        <a href="#" class="customer-card">
            <figure class="avatar">
                <img src="./images//therock.jpg" alt="">
            </figure>
            <div class="info">
                <div class="quotes">
                    <img src="./images/icons8-quote-left-50.png" alt="" srcset="">
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur nulla
                        augue. Aliquam id congue est. Mauris pulvinar erat quis purus fringilla, in eleifend leo
                        lobortis.
                        In
                    </p>
                </div>
                <div class="line"></div>
                <div class="customer">
                    <div class="name"><strong>Trần Tiến Đức Anh</strong></div>
                    <div class="hometown">Hồ Chí Minh</div>
                </div>
            </div>
        </a>
        <a href="#" class="customer-card">
            <figure class="avatar">
                <img src="./images//therock.jpg" alt="">
            </figure>
            <div class="info">
                <div class="quotes">
                    <img src="./images/icons8-quote-left-50.png" alt="" srcset="">
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur nulla
                        augue. Aliquam id congue est.
                    </p>
                </div>
                <div class="line"></div>
                <div class="customer">
                    <div class="name"><strong>Trần Tiến Đức Anh</strong></div>
                    <div class="hometown">Hồ Chí Minh</div>
                </div>
            </div>
        </a>
        <a href="#" class="customer-card">
            <figure class="avatar">
                <img src="./images//therock.jpg" alt="">
            </figure>
            <div class="info">
                <div class="quotes">
                    <img src="./images/icons8-quote-left-50.png" alt="" srcset="">
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur nulla
                        augue. Aliquam id congue est. Mauris pulvinar erat quis purus fringilla, in eleifend leo
                        lobortis.
                        In
                    </p>
                </div>
                <div class="line"></div>
                <div class="customer">
                    <div class="name"><strong>Trần Tiến Đức Anh</strong></div>
                    <div class="hometown">Hồ Chí Minh</div>
                </div>
            </div>
        </a>
    </div>
</div>