<div id="footer-bottom">
    <div class="columns-grid">
        <section class="column">
            <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
            <div class="row"><a href="#">DOMAINS</a></div>
            <div class="row"><a href="#">HOSTING</a></div>
            <div class="row"><a href="#">VPS LINUX</a></div>
            <div class="row"><a href="#">WEBSITE MANAGING</a></div>
        </section>
        <section class="column">
            <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
            <div class="row"><a href="#">DOMAINS</a></div>
            <div class="row"><a href="#">HOSTING</a></div>
            <div class="row"><a href="#">VPS LINUX</a></div>
            <div class="row"><a href="#">WEBSITE MANAGING</a></div>
        </section>
        <section class="column">
            <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
            <div class="row"><a href="#">DOMAINS</a></div>
            <div class="row"><a href="#">HOSTING</a></div>
            <div class="row"><a href="#">VPS LINUX</a></div>
            <div class="row"><a href="#">WEBSITE MANAGING</a></div>
        </section>
        <section class="column">
            <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
            <div class="row"><a href="#">DOMAINS</a></div>
            <div class="row"><a href="#">HOSTING</a></div>
            <div class="row"><a href="#">VPS LINUX</a></div>
            <div class="row"><a href="#">WEBSITE MANAGING</a></div>
        </section>
        <section class="column">
            <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
            <div class="row"><a href="#">DOMAINS</a></div>
            <div class="row"><a href="#">HOSTING</a></div>
            <div class="row"><a href="#">VPS LINUX</a></div>
            <div class="row"><a href="#">WEBSITE MANAGING</a></div>
        </section>
    </div>
</div>