  <footer id="main-footer">
        <h4 class="text-row title">Chúng tôi hỗ trợ khách hàng 7 ngày trong tuần với hotline</h4>
        <h3 class="text-row phone-number">082 878 6789</h3>
        <div class="text-row description">Với đội ngũ nhân viên hơn 7 năm kinh nghiệm, không chỉ thiết kế website, hướng
            dẫn, hỗ trợ và xử lý vấn đề về website, chúng tôi luôn đồng hành, tư vấn và phát triển cùng doanh nghiệp của
            bạn</div>
        <div class="services-grid">
            <div class="service">
                <div class="title">Tư Vấn thiết kế Web</div>
                <div class="icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
                <div class="main-text">028 878 6789</div>
            </div>
            <div class="service">
                <div class="title">Hỗ trợ kĩ thuật</div>
                <div class="icon"><i class="fas fa-phone"></i></div>
                <div class="main-text">0911 724 247</div>
            </div>
            <div class="service">
                <div class="title">Gửi yêu cầu làm web</div>
                <div class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                <div class="main-text">info@kumop.vn</div>
            </div>
        </div>
        <div class="line"></div>
        <div class="columns-grid">
            <section id="contact" class="column">
                <h4 class="title">Liên Hệ</h4>
                <h3 class="company-name">Công Ty TNHH KUMOP</h3>
                <div class="company-info">
                    <div class="address"><i class="fas fa-map-marker-alt"></i>27 Hoàng Hoa Thám, phường 6, quận Tân
                        Bình, TPHCM</div>
                    <div class="phone-numbers">
                        <span class="hot-line"><i class="fas fa-phone-volume"></i>028 66 828 833</span>
                        <span class="mobile"><i class="fas fa-mobile-alt"></i>082 878 6789</span>
                    </div>
                    <div class="emails">
                        <div class="email"><i class="far fa-envelope"></i>info@kumop.vn</div>
                        <div class="email"><i class="far fa-envelope"></i>support@mypage.vn</div>
                    </div>
                </div>
            </section>
            <section id="services" class="column">
                <h4 class="title">Dịch Vụ</h4>
                <a href="#" class="item">Domain</a>
                <a href="#" class="item">Hosting</a>
                <a href="#" class="item">Dịch vụ SEO</a>
                <a href="#" class="item">Chăm sóc Website</a>
                <a href="#" class="item">Email Doanh nghiệp</a>
            </section>
            <section id="support" class="column">
                <h4 class="title">Hỗ trợ</h4>
                <a href="#" class="item">Liên hệ</a>
                <a href="#" class="item">Hỗ trợ</a>
                <a href="#" class="item">Câu hỏi thường gặp</a>
                <a href="#" class="item">Quy trình thiết kế Web</a>
                <a href="#" class="item">Điều kiện chính sách</a>
            </section>
            <section id="web-design" class="column">
                <h4 class="title">Thiết kế web chuyên nghiệp</h4>
                <a href="#" class="item">Thiết kế web giá rẻ</a>
                <a href="#" class="item">Thiết kế web theo mẫu</a>
                <a href="#" class="item">Thiết kế web theo yêu cầu</a>
                <a href="#" class="item">Thiết kế web chuyên nghiệp</a>
                <a href="#" class="item">Thiết kế web chuẩn Mobile</a>
            </section>
        </div>
        <div id="footer-bottom">
            <div class="columns-grid">
                <section class="column">
                    <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
                    <div class="row"><a href="#">DOMAINS</a></div>
                    <div class="row"><a href="#">HOSTING</a></div>
                    <div class="row"><a href="#">VPS LINUX</a></div>
                    <div class="row"><a href="#">WEBSITE MANAGING</a></div>
                </section>
                <section class="column">
                    <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
                    <div class="row"><a href="#">DOMAINS</a></div>
                    <div class="row"><a href="#">HOSTING</a></div>
                    <div class="row"><a href="#">VPS LINUX</a></div>
                    <div class="row"><a href="#">WEBSITE MANAGING</a></div>
                </section>
                <section class="column">
                    <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
                    <div class="row"><a href="#">DOMAINS</a></div>
                    <div class="row"><a href="#">HOSTING</a></div>
                    <div class="row"><a href="#">VPS LINUX</a></div>
                    <div class="row"><a href="#">WEBSITE MANAGING</a></div>
                </section>
                <section class="column">
                    <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
                    <div class="row"><a href="#">DOMAINS</a></div>
                    <div class="row"><a href="#">HOSTING</a></div>
                    <div class="row"><a href="#">VPS LINUX</a></div>
                    <div class="row"><a href="#">WEBSITE MANAGING</a></div>
                </section>
                <section class="column">
                    <div class="row"><a href="#">WEBSITE THEMEPLATES</a></div>
                    <div class="row"><a href="#">DOMAINS</a></div>
                    <div class="row"><a href="#">HOSTING</a></div>
                    <div class="row"><a href="#">VPS LINUX</a></div>
                    <div class="row"><a href="#">WEBSITE MANAGING</a></div>
                </section>
            </div>
        </div>
        <div id="copyright"><strong>KUMOP</strong> @copyright 2019</div>

        <script src="./javascripts/homepage.js"></script>
    </footer>