<header id="main-header">
    <nav id="header-top">
        <span class='title'>Follow us</span>
        <a href="#" class="social-link">Twitter</a>
        <a href="#" class="social-link">Facebook</a>
        <a href="#" class="social-link">Youtube</a>
        <a href="#" class="social-link">Instargram</a>
        <a href="#" class="social-link">Linkedin</a>

        <a href="#" class="social-link-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-link-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-link-icon"><i class="fab fa-youtube"></i></a>
        <a href="#" class="social-link-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-link-icon"><i class="fab fa-linkedin"></i></a>
    </nav>
    <nav id="header-mid">
        <div id="categories-btn" class="border-br-lightgray">
            <div class="burger-btn">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <span>Danh Mục</span>
        </div>

        <i class="fas fa-search"></i>
        <h1 id="web-title"><a style="color: black; text-decoration: none" href="/">Kumop</a></h1>
        <div id="contact-btn">
            LIÊN HỆ
        </div>
    </nav>
</header>