<div class="website-theme-list-wrapper">
    <h2 class="title">Các mẫu website</h2>
    <div class="line"></div>
    <ul class="list">
        <li class="list-item"><a href="#">Mẫu Website thiết bị, dụng cụ</a></li>
        <li class="list-item"><a href="#">Mẫu Website thiết kế in ấn</a></li>
        <li class="list-item"><a href="#">Mẫu Website nhà hàng - khách sạn</a></li>
        <li class="list-item"><a href="#">Mẫu Website thời trang</a></li>
        <li class="list-item"><a href="#">Mẫu Website dịch vụ bảo vệ</a></li>
        <li class="list-item"><a href="#">Mẫu Website quà tặng</a></li>
        <li class="list-item"><a href="#">Mẫu Website du lịch</a></li>
        <li class="list-item"><a href="#">Mẫu Website vận chuyển</a></li>
        <li class="list-item"><a href="#">Mẫu Website linh kiện - điện tử</a></li>
        <li class="list-item"><a href="#">Mẫu Website thuỷ sản - nông sản</a></li>
        <li class="list-item"><a href="#">Mẫu Website Spa & Thẩm mỹ viện</a></li>
        <li class="list-item"><a href="#">Mẫu Website văn phòng phẩm</a></li>
        <li class="list-item"><a href="#">Mẫu Website Ô tô - xe máy</a></li>
        <li class="list-item"><a href="#">Mẫu Website xây dựng</a></li>
        <li class="list-item"><a href="#">Mẫu Website bất động sản</a></li>
        <li class="list-item"><a href="#">Mẫu Website dịch vụ</a></li>
        <li class="list-item"><a href="#">Mẫu Website giải trí</a></li>
        <li class="list-item"><a href="#">Mẫu Website công nghiệp</a></li>
        <li class="list-item"><a href="#">Mẫu Website mỹ phẩm</a></li>
        <li class="list-item"><a href="#">Mẫu Website phòng cháy chữa cháy</a></li>
        <li class="list-item"><a href="#">Mẫu Website nội thất</a></li>
        <li class="list-item"><a href="#">Mẫu Website điện lạnh</a></li>
        <li class="list-item"><a href="#">Mẫu Website bảo hành - sửa chữa</a></li>
        <li class="list-item"><a href="#">Mẫu Website bệnh viện - y tế</a></li>
        <li class="list-item"><a href="#">Mẫu Website thương mại diện tử</a></li>
        <li class="list-item"><a href="#">Mẫu Website viện khoa học</a></li>
        <li class="list-item"><a href="#">Mẫu Website nhà hàng tiệc cưới</a></li>
        <li class="list-item"><a href="#">Mẫu Website thực phẩm</a></li>
    </ul>
</div>