<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;1,100;1,300&display=swap"
        rel="stylesheet">
    <script src="/javascripts/fontawsome5/js/all.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/category-product.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<!--- MAIN HEADER --->
    {{> header}}
    <!--- END MAIN HEADER --->

    {{> sidebar}}

</body>